.index-title{
    font-weight: 700px;
    font-size: 70px !important;
}
@media(max-width:500px){
    .index-title{
        transform: translateY(40%);
    }
}

ert{
    font-size: 100%;
}
ert:hover{
    font-size: 150%;
    padding-left: 15px;
    padding-right: 25px;
    transition: 500ms;
}

.transparent-text-index{
    -webkit-text-stroke: 1.5px #b3b3b3 !important;
    color: #e6e6e6 !important;
}

.imaginiindex {
    text-decoration: underline;
    text-decoration-color: white;
}


.roundimg {
    border-radius: 50%;
}

.align-center{
    margin: auto;
}

@media (max-width: 991px) {
    .outline_text {
        font-size: 75px;
    }
}
@media (min-width: 992px) {
    .outline_text {
        font-size: 200px;
    }
}


.logo{
    height: 50px;
    width: 170px;
}
@media(max-width: 960px){
    .logo{
        padding-left: 10px;
    }
}

.site-description{
    color: #404040 !important; 
    margin-bottom: -20%; 
    transform: translateY(-25%);
}

@media (max-width: 500px){
    .site-description{
        transform: translateY(20%);
        font-size: 33px !important;
    }
}

.blog-container{
    border: none;
}
@media (min-width: 960px){
    .blog-container{     
        display: flex;
    }
}
@media (min-width: 572px) and (max-width: 607px){
    .blog-container{ 
        height: 2950px;
    }
}
@media (min-width: 608px) and (max-width: 742px){
    .blog-container{ 
        height: 2850px;
    }
}
@media (min-width: 743px) and (max-width: 753px){
    .blog-container{ 
        height: 2820px;
    }
}
@media (min-width: 753px) and (max-width: 763px){
    .blog-container{ 
        height: 2750px;
    }
}
@media (min-width: 763px) and (max-width: 773px){
    .blog-container{ 
        height: 2650px;
    }
}
@media (min-width: 773px) and (max-width: 783px){
    .blog-container{ 
        height: 2300px;
    }
}
@media (min-width: 783px) and (max-width: 793px){
    .blog-container{ 
        height: 2300px;
    }
}
@media (min-width: 793px) and (max-width: 803px){
    .blog-container{ 
        height: 2300px;
    }
}
@media (min-width: 803px) and (max-width: 813px){
    .blog-container{ 
        height: 2300px;
    }
}
@media (min-width: 813px) and (max-width: 823px){
    .blog-container{ 
        height: 2300px;
    }
}
@media (min-width: 823px) and (max-width: 833px){
    .blog-container{ 
        height: 2300px;
    }
}
@media (min-width: 823px) and (max-width: 959px){
    .blog-container{ 
        height: 2300px;
    }
}


.articles-container{
    width: 65% !important;
}
@media (max-width: 960px){
    .articles-container{
        width: 100% !important;
        z-index: -2;
    }
}

.title-holder{
    background-color: #363940;
    margin-left: 7%;
    margin-right: 7%;
    text-transform: uppercase;
    color: white !important;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
@media(max-width: 960px){
    .title-holder{
        font-size: 17px !important;
        font-size: 1.125rem;
        letter-spacing: 1px;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 40px;
        color: #fff;
        text-transform: uppercase;
        background-color: #363940;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }
}


.article-container-index{
    margin-bottom: 40px;
    display: inline;
}

.image-article-container-index{
    width: 300px !important;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
@media (max-width: 960px){
    .image-article-container-index{
        width: 300px;
        height: 200px;
    }
}
.image-article-container-index:hover{
    opacity: 0.8;
    transition: 300ms;
}

article-index{
    margin: 0 7% 45px 7%;
    display: flex;
}
@media (max-width: 960px){
    article-index{
        display: block;
        margin-bottom: 75px;
    }
}
@media (min-width: 768px) and (max-width: 959px){
    article-index{
        display: flex;
    }
}


.description-article-container-index{
    margin-left: 40px;
    color: #363940;
    font-size: 1rem;
    line-height: 1.5;
    display: inline;
}
@media (max-width: 960px){
    .description-article-container-index{
        margin-top: 25px;
        margin-left: 5%;
    }
}

.child-daci{
    margin-top: -5px;
    margin-bottom: 20px;
    box-sizing: inherit;
    text-align: left;
}

.title-article-index{
    text-align: left;
    line-height: 1.3;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 20px;
    margin-top: 0;
    color: black;
}
@media (max-width: 960px){
    .title-article-index{
        line-height: 1.3;
        margin-bottom: 15px;
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        
    }
}
@media (min-width: 768px) and (max-width: 959px){
    .title-article-index{
        margin-top: -30px;
    }
}
.title-article-index:hover{
    color: #1b9dde;
    transition: 200ms;
    cursor: pointer;
}

.description-article-index{
    margin-top: 0;
    margin-bottom: 20px;
    color: #363940;
    font-size: 1rem;
    line-height: 1.5;
}
@media (max-width: 960px){
    .description-article-index{
        text-align: center;
    }
}

.button-article-container-index{
    float: right;
    margin-right: 50px;
}
@media (max-width: 960px){
    .button-article-container-index{
        margin-right: none; 
        width: 52%;
        float: right;
    }
}

.button-article-index{
    border: 1px solid transparent;
    border-radius: 3px;
    background: #363940;
    color: #fff!important;
    font-family: roboto condensed,arial narrow,Arial,Helvetica,sans-serif;
    line-height: 1;
    padding: 8px 18px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .2s;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 16px;
    font-size: 1rem;
    font-style: normal;
}
@media (max-width: 960px){
    .button-article-index{
        
    }
}
.button-article-index:hover{
    border-color: #363940 !important;
    color: #363940 !important;
    transition: 300ms;
    text-decoration: underline;
    background-color: white;
}

.also-read{
    border-left: 2px solid #f0f0f0;
    display: block;
    margin-right: 0;
    top: 0;
    padding-left: 0px;
    padding-right: 0px;
}
@media (min-width: 572px) and (max-width: 959px){
    .also-read{
        border-left: none !important;
        margin: auto auto;
        float: none;
    }
}
@media (max-width: 571.9px){
    .also-read{
        float: none;
    }
}

.about-wrapper{
    padding: 0px 0 0px;
}

.widget-title{
    text-align: center;
    margin-top: 0;
    color: #fff;
    text-transform: uppercase;
    background: transparent;
    margin-bottom: 20px;
    font-size: 1.125rem;
    clear: both;
    font-family: roboto condensed,arial narrow,Arial,Helvetica,sans-serif;
    letter-spacing: 1px;
    font-weight: 800;
    margin-bottom: 2px;
}

.about-copy{
    margin-top: 0;
    margin-bottom: 20px;
    color: #363940;
    font-size: 1rem;
    line-height: 1.9;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #363940;
    font-family: libre_franklinregular,Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
}

.small-image-index{
    width: 250px;
    height: 180px;
    margin: 0 auto;
    display: block;
}
.small-image-index:hover{
    opacity: 0.8;
    transition: 300ms;
}

.small-image-description{
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 50px;
    color: black;
    font-size: 20px;
    text-align: center;
}
.small-image-description:hover{
    color: #1b9dde;
    transition: 300ms;
}

.aside35{
    width: 35%;
}
@media (min-width: 571px) and (max-width: 960px){
    .aside35{
        clear: both;
        width: 100%;
        position: static;
        
    }
}
@media (max-width: 571px){
    .aside35{
        display: none;
    }
}


.blog-title-index{
    background: #363940 !important;
    text-align: center;
    letter-spacing: 1px;
    font-size: 17px !important;
}


.title-article-carousel{
    text-align: center;
}


.description-article-carousel{
    text-align: center !important;
    transform: translateY(-5%);
    color: #e6e6e6;

}

.description-container-article-carousel{
    margin-left: 20px;
    margin-right: 20px;
}


.index-carousel{
    display: none;
}
@media (max-width: 570px){
    .index-carousel{
        display: block;
    }
}
@media (min-width: 571px){
    .index-carousel{
        display: none;
    }
}

/* colors at line 3534; 3544 - style.css */


.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
  
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}


.footer-better-looking{
    border-top: 4px solid white;
    background-color: #f2f2f2 !important;

}

.container-footer{
    margin-left: 40px;
    margin-right: 40px;
}


.image-footer{
    width: 70%;
    height: 100px;
    margin-left: 30px;
    margin-top: 50px; 
}
@media (max-width: 700px){
    .image-footer{
        margin-left: 15%;
        margin-right: 15%;
    }
}

.clearfix{
    overflow: auto;
    display: flex;
}

.text-footer{
    color: #262626;
    
}

.text-container-footer{
    padding-top: 0px !important;
    display: flex;
}
@media (max-width: 700px){
    .text-container-footer{
        display: block;
    }
}








.page-number-big-container{
    display: flex;
    justify-content: center;
}
@media (min-width: 570px) and (max-height: 759px){
    .page-number-big-container{
        margin-bottom: 10% !important;
    }
}

.page-number-container{
    margin-bottom: 0 !important;
    margin: 0 2px;
    border-radius: 3px;
    border: 1px solid transparent;
    color: #818592;
    padding-left: 15px;
    padding-right: 15px;
}
.page-number-container:hover{
    border: 1px solid #818592;
    transition: 0.1s;
}
@media(max-width: 760px){
    .page-number-container{
        display: none;
    }
}

.ppp{
    border: none;
}
.ppp:hover{
    border: none !important;
}

.page-active{
    border: 1px solid #818592;
    
}

.margin-top-page{
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    font-weight: 500;
    font-size: 1.25rem;
}

.next-page{
    margin-left: 50% !important;
    float: right;
    position: absolute;
    text-transform: uppercase;
}
@media (max-width: 760px){
    .next-page{
        display: block !important;
    }
}

.prev-page{
    margin-right: 50% !important;
    float: left;
    position: absolute;
    text-transform: uppercase;
}
@media (max-width: 760px){
    .prev-page{
        display: block !important;
    }
}

.navigation-index{
    margin-bottom: 50px !important;
}
@media(min-width: 960px){
    .navigation-index{
        margin-bottom: 50px !important;
    }
}
@media (max-width: 570px){
    .navigation-index{
        position: static;
    }
}

.image-container-about{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.single-blog-container{
    display: flex;
}
@media(max-width: 960px){
    .single-blog-container{
        display: block;
    }
}

.article-container{
    width: 65%;
    display: inline;
    padding: 10px 50px 10px 50px;
    margin-top: 40px;
    margin-bottom: 40px;
}
@media(max-width: 960px){
    .article-container{
        width: 100%;
        display: block;
        padding: 10px 20px 10px 20px;
    }
}

.article-paragraph{
    line-height: 2;
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 20px;
    color: #363940 !important;
    font-weight: 400;
    font-size: 120%;
}
@media (max-width: 960px){
    .article-paragraph{

    }
}

.entry-header{
    margin-bottom: 15px;
}

.entry-title{
    text-align: center;
    margin-top: -5px;
    margin-bottom: 10px;
    line-height: 1.2;
    padding-top: 20px;
}


.text-container-article-blog{
    margin: 1.5em 0 0;
}

.image-article-blog{
    width: 100%;
}

h2{
    clear: both;
    font-family: roboto condensed,arial narrow,Arial,Helvetica,sans-serif;
    letter-spacing: 1px;
    font-weight: 800;
    margin-bottom: 2px;
    font-size: 1.75rem !important;
    padding-top: 30px;
}

.bolded{
    font-weight: 700;
}

.blog-article-display{
    display: block !important;
}
@media (max-width: 960px){
    .blog-article-display{
        display: block !important;
        width: 100%;
        height: 100%;
    }
}